Repository SimonNord/NeighbourUP, pull requests merged in 2020-06, with the labels that each got.

#42 Backend npm
  .eslintrc.json
  .gitignore
  backend/package-lock.json
  backend/package.json
  package.json
Labels: Backend

#39 Add/input component
  src/components/Input/Input.js
  src/components/Input/Input.stories.js
  src/variables.js
Labels: Front end, in progress

#50 Refactor server.js
  backend/db/index.js
  backend/db/models/user.model.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users.js
  backend/server.js
  backend/test/api/users/get.js
  backend/test/api/users/post.js
Labels: Backend, in progress

#53 add config for absolute imports
  .eslintrc.json
Labels: Front end

#48 add form component and:
  package.json
  src/components/Form/Form.js
  src/components/Form/Form.stories.js
  src/components/Form/components/Title.js
  src/components/Input/Input.js
Labels: Front end

#61 add header component
  src/components/Header/Header.js
  src/components/Header/white-logo.png
Labels: Front end

#59 Update route to receive all req fields
  backend/routes/users.js
  backend/test/api/users/post.js
Labels: Backend

#58 Create/login page
  src/components/Content/Login/Login.js
Labels: Front end

#57 initial commit for register component
  .eslintrc.json
  backend/db/models/user.model.js
  backend/package-lock.json
  backend/package.json
  backend/routes/login.js
  backend/routes/users.js
  backend/server.js
  backend/test/api/login/post.js
  package-lock.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Button/Button.js
  src/components/Button/Button.stories.js
  src/components/Content/Login/Login.stories.js
  src/components/Form/Form.js
  src/components/Form/Form.stories.js
  src/components/Header/Header.js
  src/components/Input/Input.js
  src/components/Input/Input.stories.js
  src/components/Register/Register.js
  src/components/Register/Register.stories.js
  src/components/Register/Register.test.js
  src/variables.js
Labels: Front end

#75 Backend/validation
  .eslintignore
  .vscode/settings.json
  backend/.esignore
  backend/.eslintrc.json
  backend/controllers/auth.controller.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.routes.js
  backend/validate.js
  backend/validation.options.js
  package.json
  src/.eslintrc.json
  src/components/Input/Input.js
  src/components/Register/Register.test.js
Labels: Backend

#79 Add/date to user model
  backend/models/user.model.js
Labels: Backend
